<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome message</title>
</head>

<body>
<h1>{{welcommsg}}</h1>
    {{> header}}
<p>Some text here</p>


{{> footer}}

</body>

</html>